html {
	height : 100%;
}

body {
	font-size : 12px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
	height : 100%;
}

p {
	margin : 2px;
	font-size : 11px;
}

a:visited,
a:active,
a:link {	
	color : #3152A5;
	text-decoration : none;
}

a:hover {
	color : #888888;
	text-decoration : none;
}

img {
	border: 0px;
}

h1 {	
      color : #FFFFFF;
	margin : 0px;
	font-size : 21px;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #FFFFFF;
}

h1 a:hover {
	color : #FFFFFF;
	text-decoration : none;
}


h2 {
      color : #000000;
	margin-top : 10px;
	font-size : 17px;
}

h3 {
      color : #FFFFFF;
	margin : 0px;
	padding : 0px;
	font-size : 16px;
	border-bottom : 1px solid #666666;
}

h4 {
      color : #000000;
	margin : 0px;
	padding : 0px;
	font-size : 14px;
}


h5 {
      color : #000000;
	margin : 0px;
	padding : 0px;
	font-size: 12px;
}

.titletext {
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bold;
}

h6 {  
	color : #FFFFFF;
	font-size : 12px;
      border-bottom: 1px solid #c5af7d;
	margin : 0px;
	padding : 0px;
}

div.centered {
	text-align: center;
}

div.centered table {
	margin: 0 auto; 
	text-align: left;
}

div.left {
	text-align: left;
}

div.left table {
	margin: 0 auto; 
	text-align: left;
}

.textinput {
	font-size: 12px;
	font-family: verdana, helvetica, sans-serif;
	vertical-align: middle;
      background-color: #FFFFFF;
      color: #000000;
}

.button {
	font-size: 12px;
	font-family: verdana, helvetica, sans-serif;
	vertical-align: middle;
	border:1px solid ;
      color: #000000;
}

/***********************
 ** Table Data Styles **
 ***********************/

.default_table {
	background-color: #FFFFFF;
	border:2px solid #c5af7d;
}

.default_tableheader {
	background-color: #405679;
      color: #FFFFFF;
      font-size : 12px;
	border:1px solid #405679;
}

.default_tableheader_small {
	background-color: #000000;
      color: #FFFFFF;
      font-size : 10px;
	border:1px solid #000000;
}

.default_tablecell {
	background-color: #FFFFFF;
      color: #000000;
	border:1px solid #FFFFFF;
      text-align:center;
}

.default_tablecell_alt1 {
      background: #AAAAAA;
      color: #000000;
	border:1px solid #AAAAAA
}

.default_tablecell_alt2 {
      background: #EEEEEE;
      color: #000000;
	border:1px solid #EEEEEE;
}

.default_tablefooter {
	background-color: #FFFFFF;
      color: #000000;
      font-size : 12px;
	border:1px solid #FFFFFF;
}

/******************
 ** Entry Styles **
 ******************/

.entry_table {
	background-color : #F0F0E2;
	border : 0px solid #FFFFFF;
}

.entry_title {
	background-color : #F0F0E2;
	border : 0px solid #FFFFFF;
      color: #000000;
	padding : 5px;
	font-size : 13px;

}

.entry {
	background-color : #e6e5d0;
	border : 1px solid #c5af7d;
      color : #000000;
	padding : 5px;
	font-size: 12px;
}

.modify_date {
	padding-top: 2.0em;
	font-size: 10px;
	font-style: italic;
}

.entry_footer {
	background-color : #F0F0E2;
      color: #000000;
	padding : 5px;
	font-size : 10px;
}

/********************
 ** Comment Styles **
 ********************/

.comment_title {
	background-color : #F0F0E2;
	border : 0px solid #FFFFFF;
      color: #000000;
	padding : 5px;
	font-size : 12px;

}

.comment {
	background-color : #F0F0E2;
	border : 1px solid #000000;
      color : #000000;
	padding : 5px;
}

.commentfooter {
	background-color : #F0F0E2;
      color: #000000;
	font-size : 10px;
}

/*******************
 ** Header Styles **
 *******************/

#header {
	background-color : #001E4C;
	color : #FFFFFF;
	height : 65px;
	width : 100%;
	padding : 7px;
	font-size : 11px;
	border-bottom : 0px solid #284FF5;
}

#headertable {
	width : 100%;
	height : 100%;

}

.headerversion {
	color: #888888;
	font-size : 9px;
	margin : 0px;
}

/***********************
 ** Navigation Styles **
 ***********************/

#navigation {
	background-color : #405679;
	color : #FFFFFF;
	vertical-align : top;
	width : 180px;
	padding : 10px;

}

#navigation a:link,
#navigation a:active,
#navigation a:visited {
	color: #FFFFFF;
}

.navigationlist {
	list-style : none;
	margin : 0px;	
	padding : 0px;
	margin-left : 5px;
	margin-bottom : 10px;
	width: 180px;
	font-size : 12px;
}

.navoverflow {
	width: 175px;
	overflow: hidden;
}

.recententries {
	padding-bottom: 5px;
	padding-left: 12px;
	background-image: url('images/arrow.gif');
	background-repeat: no-repeat;
	background-position: 0px 2px;
}

.recententrieslist {
	list-style : none;
	padding: 0px;
	margin: 0px;
	margin-left : 5px;
	margin-bottom : 10px;
	width: 180px;
}


.categories {
	padding-bottom: 3px;
	padding-left: 2px;
}

.categorieslist {
	list-style : none;
	padding: 0px;
	margin: 0px;
	margin-left : 5px;
	margin-bottom : 10px;
	width: 180px;
}

/**********************
 ** Main Page Styles **
 **********************/

#main {
	background-color : #F0F0E2;
	padding-left : 30px;
	padding-top : 30px;
	vertical-align : top;
	height : 100%;
	width : 100%;
	border-left : 0px solid #FFFFFF;
}

.titleoverflow {
	width: 250px;
	overflow: hidden;
	text-overflow:ellipsis;
}

.pagination {
	font-size: 11px;
}

/*******************
 ** Search Styles **
 *******************/

.searchtable {
	border: 2px solid #000;
	padding: 2px;
}

.searchheader {
	text-align:center;
	background: #D9D9D9;
	color: #092EC1;
	border:1px solid #000;
	padding: 5px;
	font-size: 12px;
}

.searchcell {
	text-align:left;
	vertical-align: top;
	font-size: 10px;
	padding: 5px;
}

.searchcell2-right {
	text-align:right;
	vertical-align: middle;
	font-size: 10px;
	padding: 5px;
}

.searchcell2-left {
	text-align:left;
	vertical-align: middle;
	font-size: 10px;
	padding: 5px;
}

.searchrow1 {
	background-color: #EEEEEE;
}

.searchrow2 {
	background-color: #FFFFFF:
}

.searchpreviewtable {
	width: 90%;
	padding: 2px;
}

.searchpreviewtableheader-left {
	text-align:left;
	background: #D9D9D9;
	font-weight: bold;
	border-left:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	padding: 5px;
	font-size: 12px;
}

.searchpreviewtableheader-right {
	text-align:right;
	background: #D9D9D9;
	font-weight: bold;
	border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	padding: 5px;
	font-size: 12px;
}

.searchpreviewtableinfo {
	font-size: 10px;
	padding: 5px;
	background-color: #F2F2F2;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

.searchpreviewtablecell {
	padding: 10px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}

/*******************
 ** BBCode Styles **
 *******************/
.code {
	background: #D9D9D9;
	border: 1px dotted #000;
	color: #465584;
	font-family: Courier, Courier New, Verdana, Arial;
	margin: 0 auto 0 auto;
	padding: 2px;
	width: 98%;
}

.codetitle {
	color: #000;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
	width: 98%;
}

.quote {
	background: #D9D9D9;
	border: 1px solid #000;
	font-family: Verdana, Arial;
	margin: 0 auto 0 auto;
	padding: 2px;
	width: 98%;
}

.quotetitle {
	color: #000;
	font-weight: bold;
	margin: 0 auto 0 auto;
	padding: 3px;
	width: 98%;
}

/*********************
 ** Calendar Styles **
 *********************/
.calendar {
	width: 175px;
	font-size: 10px;
}